<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : ' Welcome!' %>  | The BookStore</title>
    
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
 
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Bookstore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_path %><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <%= link_to 'About', about_path %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add New
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul>
                <li><%=link_to "Book", new_book_path%></li>
                <li><%=link_to "Category", new_category_path%></li>
                <li><%=link_to "Author", new_author_path%></li>
                <li><%=link_to "Publisher", new_publisher_path%></li>
              </ul>
            </div>
          </li>
        </ul>  
      </div>
    </nav>

    <header>
      <div class ="container">
        <h1>The BookStore<small><%= @page_title ? @page_title : ' Welcome!' %></small></h1>
    </header>

    <section>
      <div class="container">
        <div class ="row">
          <div class ="col=md-8">
            <%= yield %>  
          </div>
          <div class="col-md-4 ml-auto">
            <%= render 'partials/sidebar' %>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class ="container">
        <p>Copyright &copy; All Rights Reserved</p>
    </footer>
  </body>
</html>
